html,body {
    height: 100%;
}
/* Topology */
#main{
    transition: margin-left .5s;
    height: 100%;
}
#networkTopology{
    width: 100%;
    height: 100%;
}
.line{
    stroke: black;
    stroke-opacity: 0.3;
    stroke-width: 2;
}

text{
    font-weight: bold;
    font-size:medium;
}

/* Sidebar */

#leftSidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightslategray;
}

#rightSidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightslategray;
}


.sidebarDataFilterContainer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

