body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
header {
    height: 10%;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    box-sizing: border-box; 
}
#headerTitle{
    transition: font-size 1s
}
header:hover #headerTitle{
    font-size: 20px;
    transform: translateY(-10%);
}
#splitContainer {
    display: flex;
    height: 80%; 
    width: 100%; 
}
#splitLeft, #splitRight {
    height: 100%;
    width: 50%;
    transition: opacity 1s , width 1s ease;
    position: relative;
    overflow: hidden;
}
#splitLeft {
    color: cornflowerblue;
/* background from: https://codepen.io/t_afif/pen/vYrrjoE */
background-color: #f3f63f;
opacity: 1;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f3f63f 40px ), repeating-linear-gradient( #f43bfd55, #f43bfd );
}

#leftBackTop{
    background: rgba(128, 0, 128, 0.6);
    max-height: 160px;
    min-height: 100px;
    position: relative;
    width: 0%;

    border-bottom-right-radius: 50px 50px ;
    
    border-right: 10px solid rgba(128, 0, 128, 0.1);

    margin-top: 10vh;

    transition: opacity 0s;
    opacity: 0;
    visibility: hidden;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
}
#leftBackTop::before {
    background: rgb(128, 0, 128) none repeat scroll 0 0;
    content: "";
    height:100% ;
    position: absolute;
    right: -25px;
    transform: skew(-20deg);
    width: 50px;
}
#splitLeft:hover #leftBackTop{
    opacity: 1;
    width: 75%;
    transition: opacity 2s, width 1s;
    visibility: visible;
}

#leftBackBottom{
    background: rgba(128, 0, 128, 0.6);
    height: 120px;
    position: absolute;
    width: 0%;
    color:white;
    bottom: 7vh;
    right: 0;
    border-top-left-radius: 80px 80px;

    transition: opacity 0s;
    opacity: 0;
    visibility: hidden;
}
#leftBackBottom::before{
    background: rgb(128, 0, 128) none repeat scroll 0 0;
    content: "";
    height: 120px;
    position: absolute;
    
    left: auto;
    transform: skew(160deg);
    width: 50px;
    
}

#splitLeft:hover #leftBackBottom {
    opacity: 1;
    width: 50%;
    transition: opacity 2s, width 1.5s;
    visibility: visible;
}


#aboutMe { 
    bottom: 10%;
    left: 10%;
    width: 80%;
    font-size:15px;

    
    height: 100%;

}

#cvLink{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}
#cvLink a{
    color: #E95C20FF;
}
#cvLink a:hover{
    color: magenta;
}


.projectToolTips{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0s;
}
#topologyLink:hover #topologyLinkToolTip{
    visibility: visible;
    opacity: 1;
    transition: opacity 1s;
}
#listedBuildingLink:hover #listedBuildingLinkToolTip{
    visibility: visible;
    opacity: 1;
    transition: opacity 1s;
}
#randomisedCirclesLink:hover #randomisedCirclesLinkToolTip{
    visibility: visible;
    opacity: 1;
    transition: opacity 1s;
}

#splitRight {
    color: MediumSeaGreen ;

background-color: #097a03;
opacity: 1;
background-image:  linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77);
background-size: 80px 140px;
background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
#rightBack{
    position: absolute;
    border-radius:5px;
    height: 90% ;
    width: 80%;
    margin-top: 7vh;
    margin-left: 4vh;
    box-sizing: border-box;
    
    background: linear-gradient(to bottom, rgba(210, 180, 140, 0.9)0%,rgba(210, 180, 140, 0)140%);
    
    opacity: 0;
    transition: opacity 0s;
}

#splitRight:hover #rightBack{
    opacity: 1;
    transition: opacity 1s
}

#personalTitle, #projectsTitle {
    position:absolute;
    bottom: 50%;
    font-size: 45px;
    transform: translate(0, 50%);
    transition: font-size 1s, bottom 1s;
    font-weight: bolder;
    margin-left: 5px;
}
#projectsTitle {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#splitRight:hover #projectsTitle, #splitLeft:hover #personalTitle{
    font-size: 30px;
    bottom: 90%;
    transition: translate(0,0);
}
#projectsLinks {
    visibility: hidden;
    position:absolute ;
    top: 1vh;
    opacity: 0;
    transition: opacity 0s;
    
}
.projectsHeadings{
    margin-left: 10px;
    margin-bottom: 0;
}
#uniProjectsHeading{
    margin-top: 0;
}
#githubImg{
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin-left: 10px;
}
.projectList{
    list-style-type: none;
}
.projectList li::before{
    content:'-';
    margin-right: 5px;
}
#rightBack ul{
    padding-left: 1vh;
}
#uniProjectList{
    margin-top: 10px;
}
#splitRight:hover #projectsLinks{
    visibility: visible;
    opacity: 1;
    transition: opacity 2s;
}

#splitRight:hover, #splitLeft:hover {
    width: 200%;
}

footer {
    height: 10%; 
    padding: 0;
    bottom: 0;
    display: flex;
    color: white;
    background-color: black;
}
footer a {
    color: white;
}
#footerLeft, #footerRight {
    width: 50%;
}
#footerRight {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    align-items: center;
}
#footerEmail{
    transition: transform 1s, font-size 1s;
}
#footerRight:hover #footerEmail{
    transform: translateX(-10%);
    font-size: 20px;
}
#emailToolTip{
    visibility: hidden;
    position: relative;
    color: white;
}
#footerEmail:hover{
    cursor: pointer;
    color: lawnGreen;
}
#footerEmail:hover #emailToolTip{
    visibility: visible;
}
#footerLeft {
    display: flex;
    justify-content:flex-start ; /* horizontal */
    align-items: center; /* vertical */
}
#footerLeft img {
    width: 46px ; 
    height: 45px;
    padding-left: 10px;
    transition: width 0.5s;
}
#footerLeft:hover img{
    width: 62px ; 
    height: 61px;
}