body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
header {
    height: 10%;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    box-sizing: border-box; 
}
#headerTitle{
    transition: font-size 1s
}
header:hover #headerTitle{
    font-size: 20px;
    transform: translateY(-10%);
}
#splitContainer {
    display: flex;
    height: 80%; 
    width: 100%; 
}
#splitLeft, #splitRight {
    height: 100%;
    width: 50%;
    transition: opacity 1s , width 1s ease;
    position: relative;
    overflow: hidden;
}
#splitLeft {
    color: OrangeRed;
/* background from: https://codepen.io/t_afif/pen/vYrrjoE */
--s: 100px; /* control the size */
  --c1: #088F8F;
  --c2: #355C7D;
  
  --_g: 
     var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
     var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
  background:
    radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
    radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
    var(--c1);
  background-size: var(--s) var(--s);
}
    


#aboutMe {
    visibility: hidden;
    position: absolute;
    bottom: 75%;
    transition: opacity 0s;
    opacity: 0;
    margin-left: 1%;
}
#splitLeft:hover #aboutMe {
    opacity: 1;
    transition: opacity 1s;
    visibility: visible;
}
.projectToolTips{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0s;
}
#topologyLink:hover #topologyLinkToolTip{
    visibility: visible;
    opacity: 1;
    transition: opacity 1s;
}
#listedBuildingLink:hover #listedBuildingLinkToolTip{
    visibility: visible;
    opacity: 1;
    transition: opacity 1s;
}
#randomisedCirclesLink:hover #randomisedCirclesLinkToolTip{
    visibility: visible;
    opacity: 1;
    transition: opacity 1s;
}

#splitRight {
    color: darkmagenta ;
/* background from: https://codepen.io/finnhvman/pen/OJNjqwL */
     background:
    43.3px 50px/86.6px 150px radial-gradient(1% 66% at 0 100%, tan 99%, transparent 0),
    43.3px 100px/86.6px 150px radial-gradient(1% 66% at 100% 0, tan 99%, transparent 0),
    0 25px/86.6px 150px radial-gradient(1% 66% at 100% 0, tan 99%, transparent 0),
    0 125px/86.6px 150px radial-gradient(1% 66% at 0 100%, tan 99%, transparent 0),
    0 100px/86.6px 150px linear-gradient(30deg, white 2.5%, tan 0 7.5%, white 0 12%, tan 0 13%, transparent 0),
    0 125px/86.6px 150px linear-gradient(30deg, white 5%, tan 0 10%, white 0 12.5%, transparent 0),
    43.3px 100px/86.6px 150px linear-gradient(210deg, white 5%, tan 0 10%, white 0 12.5%, transparent 0),
    43.3px 125px/86.6px 150px linear-gradient(210deg, white 2.5%, tan 0 7.5%, white 0 12%, tan 0 13%, transparent 0),
    43.3px 25px/86.6px 150px linear-gradient(30deg, white 2.5%, tan 0 7.5%, white 0 12%, tan 0 13%, transparent 0),
    43.3px 50px/86.6px 150px linear-gradient(30deg, white 5%, tan 0 10%, white 0 12.5%, transparent 0),
    0 25px/86.6px 150px linear-gradient(210deg, white 5%, tan 0 10%, white 0 12.5%, transparent 0),
    0 50px/86.6px 150px linear-gradient(210deg, white 2.5%, tan 0 7.5%, white 0 12%, tan 0 13%, transparent 0),
    43.3px 75px/86.6px 150px linear-gradient(150deg, transparent 37%, tan 0 38%, white 0 42.5%, tan 0 47.5%, white 0 52.5%, tan 0 57.5%, white 0 62%, tan 0 63%, transparent 0),
    0 0/86.6px 150px linear-gradient(150deg, transparent 37%,tan 0 38%, white 0 42.5%, tan 0 47.5%, white 0 52.5%, tan 0 57.5%, white 0 62%, tan 0 63%, transparent 0),
    0 0/86.6px 150px linear-gradient(90deg, tan 1%, white 0 10%, tan 0 20%, white 0 30%, tan 0 40%, white 0 49%, tan 0 51%, white 0 60%, tan 0 70%, white 0 80%, tan 0 90%, white 0 99%, tan 0);
}
#rightBack{
    position: absolute;
    border-radius:15px;
    height: 70% ;
    width: 80%;
    margin-top: 7vh;
    margin-left: 4vh;
    box-sizing: border-box;
    
    background: linear-gradient(to bottom, rgba(210, 180, 140, 0.9)0%,rgba(210, 180, 140, 0)100%);
    
    opacity: 0;
    transition: opacity 0s;
}

#splitRight:hover #rightBack{
    opacity: 1;
    transition: opacity 1s;
}

#personalTitle, #projectsTitle {
    position:absolute;
    bottom: 50%;
    font-size: 45px;
    transform: translate(0, 50%);
    transition: font-size 1s, bottom 1s;
    font-weight: bolder;
    margin-left: 5px;
}

#splitRight:hover #projectsTitle, #splitLeft:hover #personalTitle{
    font-size: 25px;
    bottom: 90%;
    transition: translate(0,0);
}
#projectsLinks {
    visibility: hidden;
    position:absolute ;
    top: 1vh;
    opacity: 0;
    transition: opacity 0s;
    
}
.projectsHeadings{
    margin-left: 10px;
    margin-bottom: 0;
}
#uniProjectsHeading{
    margin-top: 0;
}
#githubImg{
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin-left: 10px;
}
.projectList{
    list-style-type: none;
}
.projectList li::before{
    content:'-';
    margin-right: 5px;
}

#uniProjectList{
    margin-top: 10px;
}
#splitRight:hover #projectsLinks{
    visibility: visible;
    opacity: 1;
    transition: opacity 2s;
}

#splitRight:hover, #splitLeft:hover {
    width: 200%;
}

footer {
    height: 10%; 
    padding: 0;
    bottom: 0;
    display: flex;
    color: white;
    background-color: black;
}
footer a {
    color: white;
}
#footerLeft, #footerRight {
    width: 50%;
}
#footerRight {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    align-items: center;
}
#footerEmail{
    transition: transform 1s, font-size 1s;
}
#footerRight:hover #footerEmail{
    transform: translateX(-10%);
    font-size: 20px;
}
#emailToolTip{
    visibility: hidden;
    position: relative;
    color: white;
}
#footerEmail:hover{
    cursor: pointer;
    color: lawnGreen;
}
#footerEmail:hover #emailToolTip{
    visibility: visible;
}
#footerLeft {
    display: flex;
    justify-content:flex-start ; /* horizontal */
    align-items: center; /* vertical */
}
#footerLeft img {
    width: 46px ; 
    height: 45px;
    padding-left: 10px;
    transition: width 0.5s;
}
#footerLeft:hover img{
    width: 62px ; 
    height: 61px;
}